@import "../../Sass/main.scss";

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 97vh;
  padding-bottom: 20vh;
  .hero {
    text-align: left;
    position: relative;
    width: 320px;
    height: 450px;
    &-title {
      font-family: $header-font;
      font-size: 4vh;
      z-index: 1;
    }
    &-img {
      width: 250px;
      position: absolute;
      top: 30%;
      right: -5%;
      &-wrapper {
        width: 250px;
        position: absolute;
        top: 30%;
        right: -5%;
        z-index: 1;
        &:hover {
          .hero-img {
            transition: 0.9s;
            transform: rotateZ(720deg);
          }
        }
      }
    }
  }
  .search {
    position: absolute;
    bottom: 0;
    z-index: 2;
    &-box {
      width: 100%;
      &-bar {
        width: 100%;
      }
      &-icon {
        left: 10%;
      }
    }
  }
  .landing-date {
    width: 320px;
    text-align: left;
    &-title {
      font-family: $header-font;
    }
  }
}